body{
    font-family: "Poppins",sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-padding-top: 80px; 
}
html { 
    scroll-padding-top: 80px; 
}

.home-container h1 {
    background: linear-gradient(to right, #ed1bb2, #7870e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes gradientMove {
      0% { background-position: 0% center; }
      100% { background-position: 100% center; }
    }

 /* button {
  border: none;
  border-radius: 10px;
  padding: 12px 26px;
  margin-top: 48px;
  margin-left: 0;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(to right, #ce28cb, #8b5cf6);
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 16px rgba(79, 70, 229, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

 button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(32, 23, 208, 0.4);
} */



